@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@300;500&family=Roboto&family=Unica+One&display=swap');

nav {
    color: rgb(0, 120, 44);
    padding: 16px;
    border-bottom: 5px rgb(2, 68, 109);
    background-color: #CBC3BA;
}


main h1 {
    font-family: 'Days One';
    color: #565E3B;
    text-align: center;
}

main h2 {
    font-family: 'Days One';
    color: #867F51;
    text-align: center;
    padding-bottom: 25px;
}

a:hover {
    color: green;
}

a:link {
    font-family: 'Unica One';
    color: rgb(0, 129, 54);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #3D5E3B;
   }

body {
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: #E5E3D7;
}

main {
    padding: 16px;
    margin-bottom: 70px;
}

body main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body main div {
    text-align: center;
}

h3{
    font-family:'Unica', sans-serif;
    color:green;
}

table tr:nth-child(even) {
    background-color: #cbc3ba6c;
}

.center {
    margin-right:auto;
    margin-left:auto;
}

.center thead{
    font-weight:500;
    background-color: #efd16ecd;
}

footer {
    color: #524F4A;
    font-size: 14px;
    background-color:#CBC3BA;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

img {
    height: 200px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>🍴</text></svg>") 16 0,auto; /*!emojicursor.app*/;
}


.recipe{
    text-align: center;
    box-shadow: 5px 5px 5px white;
    background-color: #E6E1D4;
    transition: box-shadow .25s;
}

.recipe:hover{
    box-shadow: 5px 5px 5px #EFD16E;
}

.recipes-list {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px 225px;
    grid-gap: 20px;
    justify-items:center;
}
